:root{
	--mainColor:#181515;
	--secondaryColor:#2b2d2e;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(58, 63, 68, 0.829);
	--previewShadow:#13161a;


	--buttonColor:#535353;


}